/* navbar */
.navbar-toggler:focus {
    box-shadow: none!important;
}
.hamburger-1 {
    height: 5px;
    width: 40px;
}
.hamburger-2 {
    height: 5px;
    width: 35px;
}
.hamburger-3 {
    height: 5px;
    width: 25px;
}
.hamburger-1,
.hamburger-2,
.hamburger-3 {
    margin: 3px;
    background: #D2003A;
    border-radius: 10px;
    transition: .5s;
}

.hamburger-1.true {
    transform: rotate(45deg) translate(10px, 1px);
}

.hamburger-2.true  {
    opacity: 0;
    transform: translatex(20px);
}

.hamburger-3.true  {
 width: 40px;
 transform: rotate(-45deg) translate(13px, -5px);
}


/* footer  */
.footer.row {
    margin:auto!important;
}
.footer .logo img {
    max-width: 200px;
    max-height: 150px;
}
.footer .navigation a{
    text-decoration: none;
    color: white;
}
.footer .sosialMedia svg{
    width: 80%;
    color: white;
    max-width: 50px;
}
.footer .support a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}