.body-content{
    background-color: #0E1028;
   
}
.row-content{
    min-height: 100vh;
}
.content2 .left {
    z-index: 1;
}
@media (max-width: 600px) {
    .container.content2{
       padding-top: 150px;
    }
    .right h1{
        padding-top: 10px;
    }
    .right p{
        padding-bottom: 10px;
    }
    .content2 .left img{
        width: 100%;
        display: flex;
        margin: 0 auto;
    }
}
.content2 .left svg {
    z-index: -1;
    left: 15%;
    top: -10%;
    max-width: 230px;
   
}

.content2 .left img {
    max-width: 280px;
   
    margin-right: 6rem;
}

.content2 .right{
    flex-direction: column;
    margin-top: 2rem;
}
.content2 .right p {
    text-align: justify;
    
}
.right{
    color: white;
}
.bg-1 {
    background: #0E1028;
    z-index: -2;
}

.my-card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 8px;
    margin-bottom: 28px;
    border-radius: 35px 0;
    overflow: hidden;
    transition: .5s
}

.my-card:hover {
    box-shadow: 0px 0px 8px #c81a3b
}

.my-card img {
    max-height: 250px;
    width: 100%
}

.my-card-body {
    padding: 20px;
    margin-bottom: 20px
}

.my-card-body h5 {
    text-transform: capitalize;
    line-height: 25px;
    font-size: 25px
}

.my-card-body p {
    margin: 10px 0;
    color: #f7941d
}

.social-icons {
    margin-bottom: 25px
}

.social-icons a {
    margin-right: 22px;
    color: #363842;
    font-size: 16px
}

.social-icons a:hover {
    color: #c81a3b
}

.my-card-btn {
    color: rgb(231, 231, 231);
    background-color: #c81a3b;
    padding: 10px 28px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px 0;
    transition: .5s
}

.my-card-btn:hover {
    color: rgb(15, 15, 15)
}
.social-icon a{
    text-decoration: none;
}
.body-color{
    background-color: #0E1028;
}
@media (max-width: 600px){
    .box-1{
        padding-bottom: 150px;
    }
}